		.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
		.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
		
		
		#browsericon .ui-icon { background:  url(images/browser_2.png) 50% 50% no-repeat; background-size: 24px 16px; }
		#homeicon .ui-icon { background:  url(images/home.png) 50% 50% no-repeat; background-size: 24px 16px;  }
		#collectionicon .ui-icon { background:  url(images/collection_2.png) 50% 50% no-repeat;  background-size: 24px 16px; }
		#abouticon .ui-icon { background:  url(images/about_2.png) 50% 50% no-repeat;  background-size: 24px 16px; }

